html {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-image:url("../images/background.jpg");
    background-position: left;
    background-repeat: inherit;

  }
  @font-face {
    font-family: "Lobster";
    src: url("../font/Lobster-Regular.ttf")
  }
  @font-face {
    font-family: "IndieFlower";
    src: url("../font/IndieFlower-Regular.ttf")
  }
  
  .color-block {
    background:rgb(238, 141, 77);
    width:560px;
    padding:20px 20px 20px 20px;
    position:center;
    color:#fff;
  }
  
  h1 {
    font-family: "Lobster", 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    color: #c21b07;
  }
  h2{
    font-family:"IndieFlower", 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }
  p{
    font-size: 16px;  
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
  }
  
  body {

    width: 600px;
    margin: 0 auto;
    background-color: #FFFAFA;
    padding: 60px 60px;
    border: 3px dashed black;
  }
  
  img {
    display: block;
    margin: 0 auto;
    position: center;
  }
  